.App {
  text-align: center;
  font-size: 30px;
}

.AppNav {
  text-align: center;
  font-size: 30px;
}

.AppHeader {
  height: 50px;
  background-color: #ebebeb;
  margin-bottom: 50px;
}

.AppFooter {
  height: 50px;
  background-color: #ebebeb;
  margin-top: 70px;
}